<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blastic.pawhub_petmatch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.blastic.pawhub_petmatch.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.blastic.pawhub_petmatch.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.blastic.pawhub_petmatch.RateMyPetActivity"
            android:label="@string/lblActivityRatePet" >
        </activity>
        <activity
            android:name="com.blastic.pawhub_petmatch.MatchSettingsActivity"
            android:label="@string/lblActivityMatchSettings" >
        </activity>
        <activity
            android:name="com.blastic.pawhub_petmatch.EditPetActivity"
            android:label="@string/lblActivityEditPet" >
        </activity>
        <activity
            android:name="com.blastic.pawhub_petmatch.PetmatchActivity"
            android:label="@string/title_activity_petmatch" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.blastic.pawhub_petmatch.EditUserActivity"
            android:label="@string/title_activity_edit_user" >
        </activity>
        <activity
            android:name="com.blastic.pawhub_petmatch.GlobalRatesActivity"
            android:label="@string/title_activity_global_rates" >
        </activity>
        <activity
            android:name="com.blastic.pawhub_petmatch.Top20Category"
            android:label="@string/title_activity_top20_category" >
        </activity>
		<activity
            android:name="com.blastic.pawhub_petmatch.PetmatchResult"
            android:label="@string/title_activity_petmatch_result">
            
        </activity>
       	<activity
            android:name="com.blastic.pawhub_petmatch.MainTabsActivity"
            android:label="@string/title_activity_petmatch_result" >
        </activity>
    </application>

</manifest>
